#reg{
    
    padding-top: 6%;
    width: 60%;
    text-align: center;
   
}
#movreg{
    margin-left: 18%;
    margin-top: 4%;
    width: 100%;
    height: 80%;
    background-image: url(../../../assets/movietheater.jpeg);
    opacity: 90%;
    background-repeat: no-repeat;
}
h2{
    color: white;
} 