<div class="jumbotron text-center">
  <h1>The Movie Center</h1>
  <p>Your adventure awaits</p>
</div>
<div id="home" class="container">
<div id="main_container">
  <div id="top_container">
    <div class="row text-center">
    
      <img alt="poster_image" *ngIf="movies.poster_path" class="center" src="{{ imgUrl }}{{ movies.backdrop_path }}"/>
      <div id="info_container">
        <h2>{{ movies.title }}</h2>
        <h2 id="overview">
          {{ movies.overview }}
        </h2>
        <div>
          <span class="fas fa-stopwatch"></span>
          <h3>Duration: {{ movies.runtime }}</h3>
          
          <span class="fas fa-star"></span>
          <h3>Average Rating:{{ movies.vote_average }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<footer class="text-center">
  <h3>&copy; Java EE March 4 2019</h3>
</footer>
