<div class="jumbotron text-center">
  <h1>The Movie Center</h1>
  <p>Your adventure awaits</p>
</div>
<div id="home" class="container">
  <h1 id="title" class="text-muted text-center mb-3">Favorites</h1>
  <br>
  <div class="row text-center">
    <div id="nowPlayingContainer" *ngFor="let movie of movieArr">
        <div id="addPadding" class="col-lg3 col-md-4 col-sm-4">
        <img
          alt="no_poster_image"
          *ngIf="!movie.poster_path"
          
          src="https://s3.amazonaws.com/project2-dt/no_poster_available.jpg"
        />
        <img
          alt="movie_poster"
          *ngIf="movie.poster_path"
          
          src="{{ imgUrl }}{{ movie.poster_path }}"
        />
        <h1 class="text-muted text-center mb-3" id="mTitle">
          {{ movie.title }}
        </h1>
        <h1 class="text-muted text-center mb-3" id="mTitle">
          {{ movie.release_date }}
        </h1>
      </div>
    </div>
  </div>
</div>