<div id="login">
  <div class="panel-heading">
      
      <h1>PLEASE SIGN IN</h1>
  </div>
  <div id="logbody" class="panel-body">
  <div class="list-group">
      <div class="list-group-item list-group-item-demo">
             <div class="form-group">
               <br><br>
                  <input [(ngModel)]="userData.username"  [(ngModel)]="userInput.username" name="username" placeholder="PlEASE ENTER USERNAME" class="form-control" />
                  <br>
                  <input [(ngModel)]="userData.password" [(ngModel)]="userInput.password" name="password"  placeholder="PLEASE ENTER PASSWORD" 
                  type="password" class="form-control" />
                  <br><br><br>
             </div>
             <div>
                 <button class="btn btn-primary btn-center" (click)="login(userInput.username, userInput.password)">Login</button>
             </div>
             <div class="row"  *ngIf="sorry" id="sorry">
              <div class="col-xs-8">
                <p class="alert alert-danger">
                   Something went wrong please try Again!.
                </p>
              </div>
      </div>
  </div>
</div>
</div>