#login{
    margin: auto;
    width: 70%;
    text-align: center;
}

input{
    margin: auto;
    width: 40%;
    text-align: center;
}
#sorry{
    margin-left: 268px;
    text-align: center;
    width:50%;
}