<!Doctype <!DOCTYPE html>
<html>
<head>
    
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
   <nav>
     <div class = "Logo">
            <h3>Movies Galore</h3>
    </div>

        <ul class = "navbar-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Search</a></li>
        </ul>

        <div class = 'logs'>
            <li><a href = "#">Sign up</a></li>

        </div>
    </nav>
   <div class = "login-box">
       <h4><i>Login</i></h4>
        <div class = "box">
            <input type = "text" placeholder="Username" name = "" value = "">
        </div>    

        <div class = "box">
            <input type = "password" placeholder="Password" name = "" value = "">    
        </div>
        <div class = "bt">
               <input class = "btn" type = "button" value="Submit">    
        </div>
    </div>
</body>
</html>