<div>
    <div class="panel-heading">
        <span class="label label-default label-center">{{title}}</span>
    </div>
    <div class="panel-body">
    <img class="image-center" src="{{image}}" />
    <div class="list-group">
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>Register</strong> new User.
        </div>
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>Find</strong> Your account.
        </div>
        <div class="list-group-item">
            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            <strong>Fetch</strong> See all users.
        </div>
    <div class="panel-footer">
    </div>
</div>